<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= moreInfo.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src=" <%= moreInfo.image %> ">
            <div class="content">
                 <h4><%= moreInfo.created.toDateString() %></h4>
            </div>
            
            <div class="description">
                <p><%= moreInfo.body %></p>
            </div>
            <a class="ui orange basic button" href="/blog/<%= moreInfo._id %>/edit">Edit</a>
            <form id="delete" method="POST", action="/blog/<%= moreInfo._id %>?_method=DELETE">
                <button class="ui red basic button">Delete</button>
            </form>
           
            
        </div>
    </div>
      
</div>

<% include ./partials/footer %>